h1 {
    padding: 0;
    margin: 0;
}

.form-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.192);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-base {
    background-color: lightslategray;
    border-radius: 5px;
    border: 2px solid rgb(176, 176, 176);
    box-shadow: 0px 0px 5px 5px rgb(210, 210, 210);
    width: 400px;
    height: 650px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 20px;
}

.form-subPart {
    height: 100px;
    display: flex;
    flex-direction: column;
}

.form-subPart label {
    font-weight: 550;
}


.form-subPart input {
    border-radius: 8px;
    border: 2px solid rgb(211, 211, 211);
    height: 30px;
}

.buttons-container {

}

.button-submit {
    width: 230px;
    background-color: green;
    border: 1px solid lightgreen;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px gray;
}

.button-cancel {
    margin-left: 10px;
    width: 100px;
    background-color: brown;
    border: 1px solid lightcoral;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px gray;
}