.form-container {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-base {
    background-color: lightblue;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 20px;
}

.form-subPart {
    height: auto;
    display: block;
}