* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  text-align:start;
}

ul{
  list-style: none;
}

.userList-container{
  background: lightblue;
  border: 2px solid black;
}